@import url(calculadora.css);

* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 3em;
}